body {
    background: url('../assets/images/backround/background-1.webp') repeat;
    background-size: cover;
}
body::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.5);
    z-index: -1;
}



main {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    padding: 2rem;
    box-sizing: border-box;
    position: relative;
    z-index: 1;
}
/*=== Навигация ===*/
nav {
    padding: 30px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

a:hover, a:focus {
    background-color: rgba(255, 255, 255, 0.1);
    color: #FFD700;
}




/*===== Самый низ =====*/ 
footer {
    color: #fff;
    text-align: center;
    padding: 20px 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 2;
}
footer::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
}