/*=== Настройки разметки ==*/
html, body {
    height: 100%;
    margin: 0;
    color: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

header, footer {
    width: 100%;
    text-align: center;
    padding: 1rem;
    box-sizing: border-box;
}

body {
    background: url('../assets/images/background-1.webp') repeat;
    background-size: cover;
}
body::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.5);
    z-index: -1;
}

main {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    padding: 2rem;
    box-sizing: border-box;
    background: linear-gradient(135deg, #1b2735 0%, #090a0f 100%), url('../assets/images/background-1.webp') repeat;
    background-size: cover;
    position: relative;
    z-index: 1;
}

/* Стили для блока с изображением дня */
#apod {
    width: 80%;
    max-width: 800px;
    margin: auto;
    transition: transform 0.3s ease-in-out;
}
#apod:hover {
    transform: scale(1.05);
}

/* Стили для изображения дня */
#apodImage {
    width: 100%;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
    transition: box-shadow 0.3s ease-in-out;
}
#apodImage:hover {
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.75);
}

/* Стили для заголовка и описания изображения */
#apodTitle {
    font-size: 2rem;
    margin: 1rem 0;
}
#apodDescription {
    font-size: 1rem;
    line-height: 1.6;
    margin-bottom: 2rem;
}




/*===== Самый низ =====*/ 
footer {
    color: #fff;
    text-align: center;
    padding: 20px 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 2;
}
footer::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.5);
    z-index: -1;
}




/*===== Адаптация =====*/
/* Стили для маленьких экранов (мобильные телефоны) */
@media (max-width: 600px) {
    main {
        padding: 1rem; 
    }

    #apod {
        width: 95%; 
        margin: 0.5rem; 
    }
    #apodImage {
        border-radius: 5px;
    }
    #apodTitle {
        font-size: 1.5rem; 
        margin: 0.5rem 0; 
    }
    #apodDescription {
        font-size: 0.9rem; 
        margin-bottom: 1rem; 
    }

    footer {
        padding: 1rem 0.5rem; 
        font-size: 0.8rem; 
    }
    footer::before {
        background: rgba(0, 0, 0, 0.7);
    }
}