/*=== Планеты в навигации ===*/
.planet-gallery {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 1200px;
    margin: auto;
    padding: 20px;
    overflow-x: auto;
    border-radius: 100px;
    background: url("../assets/images/backround/background-2.jpg");
}

.planet-gallery img {
    width: 60px;
    margin: 0 5px; 
    cursor: pointer;
    transition: transform 0.3s ease;
}
.planet-gallery_img :hover {
    transform: translateY(-5px);
}

.Planet_image img {
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.6);
    border-radius: 8px;
}
.Planet_image:hover img {
    transform: scale(1.05);
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.5);
}


[data-planet="Mercury"] { background-image: url('../assets/images/Planet/Mercury.png'); }
[data-planet="Venus"] { background-image: url('../assets/images/Planet/Venus.png'); }
[data-planet="Earth"] { background-image: url('../assets/images/Planet/Earth.png'); }
[data-planet="Moon"] { background-image: url('../assets/images/Planet/Mars.png'); } 
[data-planet="Mars"] { background-image: url('../assets/images/Planet/Mars.png'); }
[data-planet="Jupiter"] { background-image: url('../assets/images/Planet/Jupiter.png'); }
[data-planet="Saturn"] { background-image: url('../assets/images/Planet/Saturn.png'); }
[data-planet="Uranus"] { background-image: url('../assets/images/Planet/Uranus.png'); }
[data-planet="Neptune"] { background-image: url('../assets/images/Planet/Neptune.png'); }


/*=== Меркурий ===*/
.Mercury {
    display: flex;
    justify-content: space-between; 
    align-items: center;
    max-width: 1200px;
    margin: 20px auto;
    padding: 20px;
    border-radius: 20px;
    background: linear-gradient(145deg, #1b2735 0%, #090a0f 100%); 
    color: #fff;
    box-shadow: 0 12px 24px rgba(0, 0, 0, 0.7); 
    transition: transform 0.3s ease, box-shadow 0.3s ease; 
}
.Mercury:hover {
    transform: translateY(-5px);
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.8); 
}

.Mercury .content, .Mercury .image {
    flex: 1;
    padding: 10px;
}
.Mercury .content {
    text-align: left; 
}
.Mercury .image {
    text-align: right; 
}

.Mercury h2 {
    font-size: 28px;
    color: #FFD700;
    margin-bottom: 10px;
}
.Mercury p {
    font-size: 18px; 
    line-height: 1.6;
    opacity: 0.9; 
}

.Mercury img {
    max-width: 100%;
    height: auto;
    border-radius: 10px; 
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.6); 
}

