/*===== Адаптация =====*/
/* Стили для маленьких экранов (мобильные телефоны) */
@media (max-width: 600px) {
    #apod-container {
        display: flex;
        justify-content: center;
        flex-direction: column;
        width: 100%;
    }
}