main {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    padding: 2rem;
    box-sizing: border-box;
    background: linear-gradient(135deg, #1b2735 0%, #090a0f 100%);
    background-size: cover;
    position: relative;
    z-index: 1;
}

#apodImage {
    width: 70%;
}
#apodTitle, #apodDescription {
    color: #fff;
}
#apodTitle {
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
    text-align: center;
}




/*===== Самый низ =====*/ 
footer {
    color: #fff;
    text-align: center;
    padding: 20px 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 2;
}
footer::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.5);
    z-index: -1;
}




/* Стили для блока с изображением дня */
#apod {
    width: 50%;
    margin: auto;
    transition: transform 0.3s ease-in-out;
}
#apod:hover {
    transform: scale(1.05);
}

/* Стили для изображения дня */
#apodImage {
    width: 100%;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
    transition: box-shadow 0.3s ease-in-out;
}
#apodImage:hover {
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.75);
}

/* Стили для заголовка и описания изображения */
#apodTitle {
    font-size: 2rem;
    margin: 1rem 0;
}
#apodDescription {
    font-size: 1rem;
    line-height: 1.6;
    margin-bottom: 2rem;
}